body, html {
	 background-color: #3f3f3f;
	 color: #dcdccc;
	 font-size: 100%;
	 font-family: sans, sans-serif; 
}

h1 {
	 text-align: center;
	 font-weight: normal;
	 font-size: 200%;
	 margin-top: 1em 
}
h2 {
	font-size: 180%;	
}
p {
	padding: 25px;
}
 
table {
	 margin: 2em auto;
	 margin-bottom: 10em;
	 border-collapse: collapse 
}

 table .runtime-deps {
	 width: 6em 
}

 table .comment {
	 max-width: 10em 
}

 
tbody tr:hover, td.current {
	 background: #4f4f4f 
}

 th {
	 overflow: visible;
	 text-align: center 
}

 td {
	 padding: .2em .5em;
	 overflow: visible;
	 vertical-align: top 
}

 td.comment {
	 background: #3f3f3f !important 
}

 td.comment .body {
	 padding: .5em;
	 padding-top: 0 
}

 td .boolean {
	 text-align: center 
}

 td .true {
	 color: #7f9f7f;
	 background: #7f9f7f 
}

 td .false {
	 color: #8c5353;
	 background: #8c5353 
}

 a {
	 color: #dfaf8f 
}

 a:visited {
	 color: #cc9393 
}
